apiVersion: v1
kind: Service
metadata:
  name: testapp
  labels:
    app: testapp
spec:
  type: NodePort
  selector:
    app: testapp
  ports:
    - name: http
      port: 3000
      targetPort: 3000
      nodePort: 30080
